/.gradle
/.idea
*.iml
/build
/gradle
/gradle.properties
/gradlew
/gradlew.bat
/local.properties
/app/build
/app/src/androidTest
/app/src/test
/library/activityrouter/build
/library/annotation/build
/library/baselibrary/build
/library/share/src/androidTest
/library/share/src/test
/library/jpush/src/androidTest
/library/jpush/src/test
/module/login/build
/module/login/src/androidTest
/module/login/src/test
